<html>  
  <head>
    <meta charset="utf-8">
    <title>Welcome to Our API</title>
    <link rel="stylesheet" type="text/css" href= "../css/style.css">
  </head>
  <body>
    <nav class="nav justify-content-center">
      <a class="nav-link active" href="/">Homepage</a>
    </nav>
  
  </body>
</html>